@media only screen and (max-width:1200px){
    .super__header{
        width: 100%;
        padding: 0 2%;
    }
    .container {
        max-width: 96%; 
        padding: 0 2% ;
    }
    .section{
        padding: 50px 0;
    }
}

@media only screen and (max-width:1044px){
    html,
    body{    
        font-size: 18px;
    }
    .grid2 div:last-child{
        margin-top:0; 
    }
    input[type=submit]{
        padding: .5rem .5rem;
    }
}

@media only screen and (max-width:767px){
    html,body{font-size: 14px;}
    .section{padding: 25px 0;}
    .super__header{padding: 0 4%;}
    .flex .compenant{
        width: 100%;
        flex: auto;
    }
    .app__photo{text-align: center;}
    #Customer__testimonials blockquote{margin-bottom: 3rem;}
    .flex-outer > li > label,.flex-outer li p {flex: 1 0 200px;}
    
    h1{font-size: 1.8rem;}
    h2{font-size: 1.45rem;}

    nav ul {display: none;}
    nav ul {
        float: left;
        margin: 0 25px;
        padding: 0 5px ; 
        font-size: 1rem; 
    }
    nav li {display: block;}
    .mobile__nav{
        display: inline-block;
        font-size: 2rem;
        margin: 15px;
    }
    .fixed__navbar {height: auto;}
}

@media only screen and (max-width:480px){
    
}

